@import "tailwindcss";

.cursive {
  font-family: "Cedarville Cursive", cursive;
}

.handjet {
  font-family: "Handjet", sans-serif;
}

.kaushan {
  font-family: var(--font-kaushan), cursive;
}

.josefin {
  font-family: var(--font-josefin), sans-serif;
}

.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;
  padding: 10px 20px;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
  background: linear-gradient(
      180deg,
      rgba(104, 0, 0, 0.925) 0%,
      rgba(255, 36, 36, 0.628) 100%
    ),
    rgba(255, 0, 0, 0.12);
  box-shadow: inset 0 0 12px #ff24243d;
}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(255, 36, 36, 0) 0%,
      rgba(255, 36, 36, 0.42) 100%
    ),
    rgba(255, 0, 0, 0.24);
  box-shadow: inset 0 0 12px #ff000070;
}

.button-secondary {
  background: linear-gradient(
      180deg,
      rgba(104, 0, 0, 0) 0%,
      rgba(255, 36, 36, 0.034) 100%
    ),
    rgba(255, 0, 0, 0.12);
  box-shadow: inset 0 0 12px #ff24243e;
  border: rgb(118, 0, 0) 1px solid;
}
.button-secondary:hover {
  background: linear-gradient(
      180deg,
      rgba(255, 36, 36, 0) 0%,
      rgba(255, 36, 36, 0.42) 100%
    ),
    rgba(255, 0, 0, 0.24);
  box-shadow: inset 0 0 12px #ff000070;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.min-page-screen {
  min-height: calc(100vh - 330px);
}

.header-text-shadow {
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
